<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Galeri Aplikasi</h2>
                <p class="lead">Kami sedang mengembangkan beberapa proyek dan semua didasarkan pada Cimande, platform dasar untuk mengembangkan aplikasi kita di masa depan. Semua proyek ini adalah OpenSource, dan berada di SourceForge.net. Kami bersedia menerima semua ide Anda dan kontribusi atau mungkin donasi anda. Kami berharap proyek ini dapat memberi manfaat bagi anda semua.</p>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-graduation30 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Aroma</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-football78 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Gandharva</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-mobile2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Komedo</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-upload2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Lotion</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-screen fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Obat</h4>
                        <p><!--  --></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-cabinet fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Papaje</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-coin fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Postila</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-foot3 fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Relief</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-responsive16 fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>Saphire</h4>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-coin fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Brigade</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-foot3 fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Debus</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-responsive16 fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>Kukuruyuk</h4>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-upload2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Mantra</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-screen fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Ramen</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class= "container">
            <div class="pull-right">
                <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
            </div>
        </div>
</div>