    <section>
		<div class="container">
			<div class="col-md-9 well-no-border">
				<section class="aboutUs">
	                <h2>Selamat Datang di Meruvian</h2><hr></a>
	                <p>BlueOxygen adalah tempat untuk berbagai sistem open source. Kami memulai perjalanan kami dengan membangun Cimande di Sydney, Januari 2001. BlueOxygen didirikan oleh Bapak Frans Thamura. Jika Anda tertarik untuk mengenal lebih banyak tentang BlueOxygen dan visi atau misi kami. Silakan, jangan ragu untuk email kami: blueoxygen@yahoogroups.com.Kami akan berterima kasih untuk saran anda yang membangun dan kami akan membantu Anda.
	                </p><br><br>
				</section>
			</div>
		</div>	
	</section>