<ng-include src="'views/main/slide.html'"></ng-include>
<br><br>
<section id="platform" ng-include="'views/main/platform.html'" class="platform features-blue"></section>
<br><br>
<section id="appgallery" ng-include="'views/main/appgallery.html'" class="appgallery features-blue">
</section>
<br><br>
<section id="downloads" ng-include="'views/main/downloads.html'" class="downloads features-blue"></section>
<br><br>
<section id="community" ng-include="'views/main/community.html'" class="community features-blue"></section>
<br><br>
<section id="incubator" ng-include="'views/main/incubator.html'" class="incubator features-blue"></section>
<br><br>
<section id="contact-us" ng-include="'views/main/contact-us.html'" class="user-group features-blue"></section>